script/.ipynb_checkpoints/
analysis/.ipynb_checkpoints/
/.ipynb_checkpoints/
.idea/
*.pyc
*.iml
*.xml
script/__pycache__/
analysis/test*
data/
*/old/
script/markov-model2-*
script/markov-model3-*
.R*
*.Rproj
/analysis/__cahce__/
/analysis/__cache__/
